@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;
@using HairSalon.Models;

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) <h3>
<h4>Time: @Html.DisplayFor(model => model.BestTime) o'clock</h4>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete client", "Delete", new { id = Model.ClientId })</p>
<img src="~/img/client1.jpeg" alt="look at the pink hair">